name: Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
  
  workflow_dispatch:

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'


      - name: setup script installs python, dependencies, and starts workspace
        run: |
          ,,/start_workspace.sh
            
      - name: Run unit tests
        run: pytest -q

  integration:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dev requirements
        run: |
            ,,/start_workspace.sh
      - name: Run integration tests
        run: pytest -q -m "integration"
