name: Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
  
  workflow_dispatch:

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dev requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r backend/requirements-dev.txt
          pip install pydantic
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg
      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=$PYTHONPATH:$(pwd)/backend" >> $GITHUB_ENV
      - name: Run unit tests
        run: pytest -q
